html,
body,
.page {
  position: absolute
}

.page {
  width: 100%;
  min-height: 100%;
  background: #f3f3f3
}

.page article .page_title {
  position: relative;
  width: 100%;
  height: .88rem;
  background: #f7f7f7;
  border-bottom: solid 1px #d9d9d9;
  font-size: 16px;
  line-height: .88rem;
  text-align: center;
}

article .page_title a {
  position: absolute;
  top: 0;
  left: .3rem;
  display: block;
  width: .76rem;
  height: .88rem;
}

article .page_title a:before {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: .2rem;
  width: .2rem;
  border-width: 0 0 2px 2px;
  border-color: #666;
  border-style: solid;
}

article .certification_list {width: 100%;margin: 0 .14rem;}
article .certification_list li {
  float: left;
	width: 3.47rem;
  height: 4.23rem;
  margin: .11rem .07rem;
	background-color: #ffffff;
  border-radius: .2rem;
  font-size: .26rem;
  color: #010101;
}

.certification_list li img {
  width: 100%;
  height: 2.58rem;
  border-radius: .2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.certification_list li p {
  font-size: .2rem;
  color: #999;
  line-height: 0.5rem;
}

.certification_list li .upload {
  position: relative;
	width: 3.13rem;
  height: .45rem;
  margin: .07rem auto;
	background-color: #0c6;
  border-radius: 0.46rem;
  color: #fff;
  text-align: center;
  line-height: .45rem;
}

.certification_list .upload input {
  position: absolute;
  top: 0;
  left: 0;
	width: 3.13rem;
  height: .45rem;
  opacity: 0;
}