html,
body,
.page {
  position: absolute
}

.page {
  width: 100%;
  height: 100%;
  background: url(../image/newArrivals.png) no-repeat;
  background-size: cover
}

.page article {
  margin-top: 4.13rem
}