html,
body,
.page {
  position: absolute;
}

.page {
  width: 100%;
  min-height: 100%;
  background: #f7f7f7;
  overflow-x: hidden;
  font-size: .24rem
}

.page .page_title {
  position: relative;
  width: 100%;
  height: .88rem;
  border-bottom: solid 1px #d9d9d9;
  font-size: 16px;
  line-height: .88rem;
  text-align: center
}

.page .page_title a {
  position: absolute;
  top: 0;
  left: .3rem;
  display: block;
  width: .76rem;
  height: .88rem;
}

.page .page_title a:before {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: .24rem;
  width: .24rem;
  border-width: 0 0 2px 2px;
  border-color: #666666;
  border-style: solid;
}

.page ul li {
  padding: 0 .28rem;
  margin-bottom: .2rem;
  background: #ffffff
}

.page ul li .order_number {
  border-bottom: solid 1px #ebebeb;
  color: #999999;
  line-height: .7rem;
}

.page ul li .order_number span {
  float: right;
  color: #ff8000;
}

.page ul li .content_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page .picture_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.95rem;
  height: 1.95rem;
  margin-right: .47rem;
}

.page .picture_group img {
  max-width: 1.95rem;
  max-height: 1.95rem;
  margin: auto;
}

.page .right_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4.9rem;
}

.page .right_group .title {
  font-size: .3rem;
}

.page .right_group .integral {
  float: left;
  color: #f54029;
  font-size: .36rem;
}

.page .right_group .integral span{
  font-size: .26rem;
}