html,
body,
.page {
  position: absolute
}

.page article {
  margin-top: 4.13rem
}

.page article ul li {
  float: left;
  width: 3.2rem;
  height: 4.25rem;
  padding: .2rem;
  margin: 0 0 .1rem .1rem;
  background: #ffffff;
  border-radius: .12rem;
}

.page article .goodUrl {
  max-width: 2.3rem;
  min-height: 1.9rem;
  margin: 0 auto;
}

.page article .goodUrl img {
  width: 100%;
  height: 100%;
}

.page article .goodName {
  font-size: .3rem;
  line-height: .62rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page article .goodFirm {
  color: #999999;
  font-size: .18rem;
  line-height: .18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page article .goodPrice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #999999;
  font-size: .18rem;
  margin-top: .41rem;
  line-height: .18rem;
}

.page article .goodPrice b {
  margin-right: .12rem;
  color: #cc0000;
  font-size: .3rem;
  line-height: .3rem;
}

.page article .purchase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .36rem;
}

.page article .purchase div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .24rem;
  text-align: center;
  line-height: .4rem;
}

.page article .purchase button {
  width: .4rem;
  height: .4rem;
  padding: 0;
  color: #333333;
  background: #ffffff;
  border: solid 1px #7d7d7d;
}

.page article .purchase input {
  width: 1.56rem;
  height: .36rem;
  border: solid 1px #7d7d7d;
  padding: 0;
  margin: 0 .09rem;
}

.page article .purchase img {
  width: .48rem;
  height: .48rem;
}